/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import "resetstyles";

html {
    background-color: #243043;
}

header {
    -webkit-box-shadow: 0 0 30px 2px #2ca2aa;
    box-shadow: 30px #117d85;
    z-index: 10;

    nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        background-color: #333;
        width: 100%;


        #brand-logo {
            color: #fff;
            font-size: 1.5em;

            img {
                height: 60px;
            }
        }
        #navbar-links {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            a {
                color: #fff;
                text-decoration: none;
                -webkit-transition: 1s;
                -o-transition: 1s;
                transition: 1s;
                font-family: "Roboto Condensed", sans-serif;
                font-size: 19px;
                font-weight: 400;
                margin-right: 30px;

                @media (max-width: 570px) {
                    padding: 15px 0;
                    border-top: 1px solid #444;
                }
                @media (max-width: 768px) {
                    margin-right: 30px;
                }
                &:hover {
                    font-size: 23px;
                }
            }
            #current {
                color: blue;
    
                &:hover {
                    font-size: 23px;
                }
            }
            @media (max-width: 570px) {
                display: none;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                width: 100%;
                text-align: center;
                background-color: #333;
            }
        }
        #burger-toggle {
            display: none;
        }
        label {
            display: none;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            cursor: pointer;

            span {
                height: 3px;
                width: 25px;
                background-color: #fff;
                margin: 4px 0;
                -webkit-transition: 0.4s;
                -o-transition: 0.4s;
                transition: 0.4s;
            }

            @media (max-width: 570px) {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                margin-right: 30px;
            }
            
        }
        @media (max-width: 570px) {
            input:checked ~ #navbar-links {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
            }
        }
        form {
            margin-right: 20px;
    
            input {
                width: 160px;
                height: 25px;
                background-color: white;
                border: 0;
                border-radius: 5px;
                margin-right: 10px;
            }
            button {
                background-color: white;
                height: 25px;
                border: 0;
                border-radius: 5px;
            }

            @media only screen and (max-width: 774px) {
                display: none;
            }
        }
    }
}

main { 
    margin-top: 50px;
  
    img {
        display: block;
        margin: 0 auto;
        max-width: 81vw;
        max-height: 90vh;
    }

    h1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 40px;
        color: white;
        font-size: 33px;
        font-weight: 700;
        font-family: "Roboto Condensed", sans-serif;

        &::first-line {
            letter-spacing: 1.5px;
        }
    }

    div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;

        div {
            width: 300px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            margin-left: 40px;
            margin-bottom: 80px;
            border: 5px solid rgb(139, 139, 150);
            border-radius: 10px;
            background-color: white;

            @media only screen and (max-width:480px) {
                margin: 0 auto;
                margin-bottom: 80px;
            }
       

            img {
                width: 235px;
                height: 281px;
                margin-bottom: 60px;
            }
            h2 {
                    color: black;
                    font-size: 18px;
                    font-family: "Roboto Condensed", sans-serif;
                    margin-bottom: 5px;
                    -webkit-transition: 1s;
                    -o-transition: 1s;
                    transition: 1s;
                    border-top: 5px solid rgb(139, 139, 150);

                    &:hover {
                        font-size: 20px;
                        font-weight: 900;
                    }
            }
            p {
                    color: black;
                    font-size: 18px;
                    font-weight: bold;
                    font-family: "Roboto Condensed", sans-serif;
                    -webkit-transition: 1s;
                    -o-transition: 1s;
                    transition: 1s;

                    &:hover {
                        font-size: 20px;
                        font-weight: 900;
                    }
            } 
         }
    }
}

footer {
    width: 100%;
    min-height: 250px;
    background-color: #104292;
    position: absolute; 
    
    ol {
        display: inline-block;
        font-size: 12px;
        font-weight: 700;
        font-family: "Roboto", sans-serif;
        color: #818687;
        list-style-type: none;
        margin-top: 59px;
        margin-right: 75px;
    }
    
    li {
        margin-bottom: 14px;
    }
    
    div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-left: 137px;

        @media only screen and (max-width: 480px) {
            margin-left: 46px;
        }
    }

    p {
        position: relative;
        left: 100px;
        width: 249px;
        height: 14px;
        margin-top: 59px;
        font-size: 12px;
        font-weight: 700;
        font-family: "Roboto", sans-serif;
        color: white;
        font-weight: 400;
    }
    #owl {
        margin-top: 61px;
    }
    #for-arrow {
        position: fixed;
        bottom: 20px;
        right: 20px;
        margin: 0;

        #ball {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: #2ca2aa;

            a {
                color: #000000;

                &:hover {
                    color: #188827;
                }
            
                i {
                   font-size: 47px !important;
                   margin: 12px;
                }
            }
        }
    }
} 